.spacer {
    flex: 1;
}

.d-flex-row {
    display: flex;
    align-items: center;
}

.unstyled-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.unstyled-link {
    text-decoration: none;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #1976d2;
    color: white;
}

.toolbar {
    height: 100%;
    width: 90%;
    margin: 0 5%;
    font-weight: 600;
}

.toolbar a {
    color: inherit;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar span {
    margin-right: 16px;
}

.toolbar .navlink {
    margin: 0 16px;
}

.toolbar #login-icon {
    height: 40px;
    margin-left: 16px;
    margin-right: 8px;
}

.toolbar span:hover,
.toolbar .navlink:hover,
.toolbar a:hover {
    opacity: 0.8;
}