.row {
  margin-bottom: 20px;
  font-size: 15px;
}

.box-item {
  align-items: center;
}

.nav-tabs-bordered .nav-link.active{
  background-color: #fff;
  color: #012970;
  border-bottom: 2px solid #012970;
}


.nav-tabs-bordered .nav-link:hover{
  color: #012970;
}

.profile-edit img {
  max-width: 120px;
}
