img {
  max-width: 120px;
}

.nombre {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}

.rounded-circle{
  width: 120px;
  height: 120px;
  max-width: 120px;
  object-fit: contain;
}

.profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.profile-card .social-links a:hover:nth-child(1n){
  color: #00acee;
}

.profile-card .social-links a:hover:nth-child(2n){
  color: #3b5998;
}

.profile-card .social-links a:hover:nth-child(3n){
  color: #d43f6e;
}

.profile-card .social-links a:hover:nth-child(4n){
  color: #0e76a8;
}
