<div class="card">
  <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
    <img src="assets/img/photography/611298.bmp" alt="Perfil" class="rounded-circle"/>
    <app-paragraph class="nombre">{{nombre}}</app-paragraph>
    <app-paragraph style="font-weight: 500;">{{cargo}}</app-paragraph>
    <div class="social-links mt-2">
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-linkedin"></i></a>
    </div>
    <app-paragraph style="font-weight: 600;">FAP</app-paragraph>
  </div>
</div>
